<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Author</title>
    <style>
        body {
            padding: 10px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<a href="/">Home</a><br/><br/>

<h3>Author</h3>

<form id="edit-form" action="authorEdit.html" th:method="post" th:action="@{/authors/authorEdit(id=${author.id})}" th:object="${author}">
    <input hidden id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>

    <div class="row">
        <label for="author-name-input">Name:</label>
        <input id="author-name-input" name="fullName" type="text" value="Name" th:value="*{getFullName()}"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="authorList.html" th:href="@{/authors/}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
