<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>
    <style>
        body {
            padding: 10px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>

<a href="/">Home</a><br/><br/>

<h3>Books</h3>

<a href="bookEdit.html" th:href="@{/books/bookAdd}">Add</a><br/><br/>

<table class="books">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Action</th>
        <th>Comments</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.getTitle()}">Title</td>
        <td th:text="${book.author.fullName}">Author</td>
        <td th:text="${book.genre.name}">Genre</td>
        <td>
            <a href="bookEdit.html" th:href="@{/books/bookEdit(id=${book.id})}">Edit</a>
            <a href="bookDelete.html" th:href="@{/books/bookDelete(id=${book.id})}">Delete</a>
        </td>
        <td>
            <a href="commentList.html" th:href="@{/comments/(id=${book.id})}">List</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
