<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete Comment</title>
    <style>
        body {
            padding: 10px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<a href="/">Home</a><br/><br/>

<h3>Comment</h3>

Delete comment?<br/><br/>

<form id="edit-form" action="commentDelete.html" th:method="post" th:action="@{/comments/commentDelete(book_id=${book.id})}" th:object="${comment}">
    <input hidden id="id-input" name="id" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    <div class="row">
        <label>Text:</label>
        <label th:text="*{getText()}">Title</label>
    </div>

    <div class="row">
        <button type="submit">Delete</button>
        <a href="commentList.html" th:href="@{/comments/(id=${book.id})}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>

</body>
</html>
