<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Genres</title>
    <style>
        body {
            padding: 10px;
        }

        .genres {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .genres tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .genres td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>

<a href="/">Home</a><br/><br/>

<h3>Genres</h3>

<a href="genreEdit.html" th:href="@{/genres/genreAdd}">Add</a><br/><br/>

<table class="genres">
    <thead>
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}">
        <td th:text="${genre.getName()}">Name</td>
        <td>
            <a href="genreEdit.html" th:href="@{/genres/genreEdit(id=${genre.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
